1_ ОС семейства Unix/Mod_1_Введение в GNU_Linux/Unit_2_архитектура операционной системы GNU_Linux.png
1_ ОС семейства Unix/Mod_1_Введение в GNU_Linux/Unit_3_Bash_hotkey.txt
1_ ОС семейства Unix/Mod_1_Введение в GNU_Linux/Unit_4_Основные поля структуры ext4_inode..docx
1_ ОС семейства Unix/Mod_1_Введение в GNU_Linux/Unit_5_Базовые команды над файлами.docx
1_ ОС семейства Unix/Mod_2_Дискретной управление доступом (DAC)/Unit_1_субъект_политик безопасности_объект.png
1_ ОС семейства Unix/Mod_2_Дискретной управление доступом (DAC)/Unit_2_Управление пользователями.docx
1_ ОС семейства Unix/Mod_2_Дискретной управление доступом (DAC)/Unit_3_Управление поролями пользователей.docx
1_ ОС семейства Unix/Mod_2_Дискретной управление доступом (DAC)/Unit_4_ Владение файлом.docx
1_ ОС семейства Unix/Mod_2_Дискретной управление доступом (DAC)/Unit_5_Права доступа к файлу.docx
1_ ОС семейства Unix/Mod_2_Дискретной управление доступом (DAC)/Unit_6_Флаги файла.docx
1_ ОС семейства Unix/Mod_2_Дискретной управление доступом (DAC)/Unit_7_Расширенные атрибуты файла.docx
1_ ОС семейства Unix/Mod_2_Дискретной управление доступом (DAC)/Unit_8_Списки прав доступа ACL.docx
1_ ОС семейства Unix/Mod_7_HW/Nazarov_HW_Unix.txt
1_ ОС семейства Unix/Mod_7_HW/report.txt
2_ Классическое МО/HW_3/oil_test.csv
2_ Классическое МО/HW_3/train_oil.csv
Доп материалы, статьи и т.д/Fedora Linux команда cp.url
Доп материалы, статьи и т.д/Fedora Linux команда ln.url
Доп материалы, статьи и т.д/Fedora Linux команда mv.url
