1_ ОС семейства Unix/Mod_1_Введение в GNU_Linux/Unit_2_архитектура операционной системы GNU_Linux.png
1_ ОС семейства Unix/Mod_1_Введение в GNU_Linux/Unit_3_Bash_hotkey.txt
1_ ОС семейства Unix/Mod_1_Введение в GNU_Linux/Unit_4_Основные поля структуры ext4_inode..docx
1_ ОС семейства Unix/Mod_1_Введение в GNU_Linux/Unit_5_Базовые команды над файлами.docx
1_ ОС семейства Unix/Mod_2_Дискретной управление доступом (DAC)/Unit_1_субъект_политик безопасности_объект.png
1_ ОС семейства Unix/Mod_2_Дискретной управление доступом (DAC)/Unit_2_Управление пользователями.docx
1_ ОС семейства Unix/Mod_2_Дискретной управление доступом (DAC)/Unit_3_Управление поролями пользователей.docx
1_ ОС семейства Unix/Mod_2_Дискретной управление доступом (DAC)/Unit_4_ Владение файлом.docx
1_ ОС семейства Unix/Mod_2_Дискретной управление доступом (DAC)/Unit_5_Права доступа к файлу.docx
1_ ОС семейства Unix/Mod_2_Дискретной управление доступом (DAC)/Unit_6_Флаги файла.docx
1_ ОС семейства Unix/Mod_2_Дискретной управление доступом (DAC)/Unit_7_Расширенные атрибуты файла.docx
1_ ОС семейства Unix/Mod_2_Дискретной управление доступом (DAC)/Unit_8_Списки прав доступа ACL.docx
1_ ОС семейства Unix/Mod_7_HW/Nazarov_HW_Unix.txt
1_ ОС семейства Unix/Mod_7_HW/report.txt
Доп материалы, статьи и т.д/Fedora Linux команда cp.url
Доп материалы, статьи и т.д/Fedora Linux команда ln.url
Доп материалы, статьи и т.д/Fedora Linux команда mv.url
2_ Классическое МО/HW_5/Data/Physical_Activity_Monitoring_unlabeled.csv
2_ Классическое МО/HW_3/Data/oil_test.csv
2_ Классическое МО/HW_3/submission_best_numeric.csv
2_ Классическое МО/HW_4/my_submit_final.csv
2_ Классическое МО/HW_4/Data/sample_submition.csv
2_ Классическое МО/HW_4/Data/test_data.csv
2_ Классическое МО/HW_4/Data/train_data.csv
2_ Классическое МО/HW_5/my_submit_final.csv
2_ Классическое МО/HW_3/Data/train_oil.csv
2_ Классическое МО/11_ HW_4/my_submit_final.csv
2_ Классическое МО/11_ HW_4/Участие в Kaggle.JPG
2_ Классическое МО/11_ HW_4/Data/sample_submition.csv
2_ Классическое МО/11_ HW_4/Data/test_data.csv
2_ Классическое МО/11_ HW_4/Data/train_data.csv
2_ Классическое МО/14_ HW_5/my_submit_final.csv
2_ Классическое МО/14_ HW_5/Data/Physical_Activity_Monitoring_unlabeled.csv
2_ Классическое МО/14_ HW_5/Data/Участие в Kaggle.JPG
2_ Классическое МО/16_ Курсовая работа/Аналитический отчёт к курсовой работе_.pdf
2_ Классическое МО/16_ Курсовая работа/Данные_для_курсовои_Классическое_МО.xlsx
2_ Классическое МО/9_ HW_3/submission_best_numeric.csv
2_ Классическое МО/9_ HW_3/Участие в Kaggle.JPG
2_ Классическое МО/9_ HW_3/Data/oil_test.csv
2_ Классическое МО/9_ HW_3/Data/train_oil.csv
3_ Внедрение моделей МЛ/8_ Сессионное задание/dockerfile.png
3_ Внедрение моделей МЛ/8_ Сессионное задание/Flask.png
3_ Внедрение моделей МЛ/8_ Сессионное задание/архитектура.png
3_ Внедрение моделей МЛ/8_ Сессионное задание/Data/UCI_Credit_Card.csv
2_ Классическое МО/17_ Сессионное задание/data/Description.pdf
2_ Классическое МО/17_ Сессионное задание/data/Run200_Wave_0_1_lite.txt
2_ Классическое МО/17_ Сессионное задание/data/Run200_Wave_0_1.txt
3_ Внедрение моделей МЛ/8_ Сессионное задание/other/i.py
